{% extends 'base.html' %} {%block content%}
<div>
  <a href="{% url 'create_post' %}"><span class="oi oi-plus"></span></a>
</div>

<div class="album py-5 bg-light">
  <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for post in posts.all %}
            <div class="col">
              <div class="card shadow-sm">
                  <div class="card-body">
                      <p class="card-text">
                        <h4><b>{{post.user}}</b></h4>
                          <small>{{post.created}}</small> <br> <br>
                        <p><h5>{{post.post}} </h5></p>
                        <br>
                        <a href="{% url 'edit_post' post.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'post_delete' post.id %}" class="btn btn-danger">Delete</a>
                      </p>
                  </div>
              </div>
          </div>
       
        <br>
          
          {% endfor %}
      </div>
  </div>
</div>
{%endblock%}
